{"filter":false,"title":".env.example","tooltip":"/.env.example","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":102,"scrollleft":0,"selection":{"start":{"row":8,"column":0},"end":{"row":13,"column":18},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":64,"mode":"ace/mode/text"}},"timestamp":1540184311838,"hash":"3b8c8cb391eee273208c5d60fe657efc562141b1"}